In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import yfinance as yf
import quantstats_lumi as qs

from utils import *
from datetime import datetime
from double_crossover_strategy import DoubleCrossoverStrategy

#plt.style.use("fivethirtyeight")
#plt.style.use("ggplot")
plt.style.use("classic")
figsize = (14, 6)

In [7]:
x = pd.DataFrame(np.full((3, 5), 2))
print(x)

   0  1  2  3  4
0  2  2  2  2  2
1  2  2  2  2  2
2  2  2  2  2  2

In [11]:
x.iloc[:10]

   0  1  2  3  4
0  2  2  2  2  2
1  2  2  2  2  2
2  2  2  2  2  2